.footer {
    background: $color3;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0 10px 0;

    .box-copyright {
        display: flex;
        align-items: center;

        img {
            width: 81px;
            height: 72px;
        }

        .copyright-text {
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 18px;
            color: $color2;
            margin: 0 0 0 15px;
        }
    }

    .box-center {
        display: flex;
        justify-content: center;

        .box-telephone {
            display: flex;
            align-items: center;
            margin-right: 15px;
    
            img {
                width: 24px;
                height: 24px;
                margin-right: 14px;
            }
    
            .telephone {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                color: #FAF7FE;
            }
        }
    
        .box-email {
            display: flex;
            align-items: center;

            img {
                width: 26px;
                height: 26px;
                margin-right: 14px;
            }
    
            .email {
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 18px;
                color: #FAF7FE;
            }
        }
    }

    

    .logo-dorohov {
        display: flex;
        align-items: center;

        img {
            width: 101px;
            height: 29px;
        }

        .create-text {
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: $color2;
            margin: 0 6px 0 0;
        }
    }
    
}